[user]
	name = Rogin Farrer
	email = rogin@roginfarrer.com
[color]
	ui = true
	status = always
[fetch]
	prune = true
[core]
	autocrlf = false
	preloadindex = true
	fscache = true
	excludesfile = ~/.gitignore_global
	editor = nvim
	symlinks = true
	pager = delta
[delta]
	navigate = true # use n and N to move between diff sections
[log]
	decorate = short
[pack]
	useSparse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
[pull]
	rebase = true
[help]
	autoCorrect = prompt
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
    default = current
[diff]
    external = difft --color=always
[difftool "difftastic"]
    # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
    cmd = difft --color=always "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false

[alias]
    conflicts = "diff --check --relative"
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
    rc = !git add -A && git rebase --continue

; [diff]
;     tool = diffview
; [difftool "diffview"]
;     cmd = nvim -f -c "DiffviewOpen"
; [difftool]
;     prompt = false

; [mergetool]
;   cmd = diffview
;   keepBackup = false
;   trustExitCode = true
;   prompt = false
; [mergetool "diffview"]
;   cmd = nvim -f +"DiffviewOpen"

[include]
  path = ~/.gitconfig_local
[safe]
	directory = *
