[user]
	name = Rogin Farrer
	email = rogin@roginfarrer.com
[color]
	ui = true
	status = always
[fetch]
	prune = true
[core]
	autocrlf = false
	preloadindex = true
	fscache = true
	excludesfile = /Users/rfarrer/.gitignore_global
	editor = nvim
	symlinks = true
	pager = delta
[delta]
	navigate = true # use n and N to move between diff sections
[log]
	decorate = short
[pack]
	useSparse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
[pull]
	rebase = true
[help]
	autoCorrect = prompt
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true

[merge]
	conflictStyle = diff3
	tool = gitconflict
[diff]
	colorMoved = default
  tool = gitconflict
  keepBackup = false
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE

[mergetool]
  cmd = fugitive
	keepBackup = false
  trustExitCode = true
  prompt = false
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit\" \"$MERGED\"
[mergetool "diffview"]
  cmd = nvim \"+DiffviewOpen\"
[mergetool "gitconflict"]
	cmd = nvim \"$MERGED\"
[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"

[include]
  path = ~/.gitconfig_local
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = *
